<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="folder" value="c:\temp\fw1"/>
    <add key="folder" value="c:\temp\fw2"/>
    <add key="folder" value="c:\temp\fw3"/>
    <add key="tripFolderName" value="######TripFolder"/>
    <add key="witnessFile" value=""/>
    <add key="stopServerService" value="false"/>
    <add key="stopVSSService" value="false"/>
    <add key="shutdownServer" value="false"/>  
    <add key="sendSNS" value="true"/>
    <add key="SNSarn" value="[your snsARN]"/>
    <add key="SNSKey" value="[your IAM Access Key]"/>
    <add key="SNSID" value="[your IAM Secret Key]"/>
  </appSettings>
</configuration>